html{font-size: 62.5%;
    box-sizing: border-box;}

.pattern{background-image: url(../imagenes/stardust.png);}

h1{font-family: 'Special Elite', cursive;
font-size: 7rem;}

.fuenteNav{font-family: 'Open Sans Condensed', sans-serif;
font-size: 2.5rem;
font-weight: bold;
color: #3f0657;
background-color: rgba(198, 164, 214, .2);}

.nav-link:hover{color: seagreen;}

.gridInicio{display: grid;
grid-template-areas: 
"head"
"contenido"
"pie";

grid-template-columns: auto;
grid-template-rows: 1fr 5fr 1fr;}

header{grid-area: head;}
section{grid-area: contenido;}
footer{grid-area: pie;}

.flexContenidoHeader{display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;}

.titulo{margin-top: 20px;
margin-left: 50px;}

.navegador{margin-top: 20px;
margin-right: 50px;}

h5{font-size: 5rem;
    font-family: 'Special Elite', cursive;
    color: #61466D;}

p{font-size: 2rem;}

.carouselPadding{padding: 0px 20px;}

/* media */

@media screen and (max-width: 768px){
    header.flexContenidoHeader{display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;}

    h1.titulo{margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 0px;}

    nav.navegador{margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;}

}